Repository cloudfoundry/app-autoscaler: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  stages:
  - commit

fix unused imports
  scalingengine/server/server_test.go
Due: golangci-lint

fix unused imports
  src/autoscaler/scalingengine/server/server_test.go
Due: golangci-lint

Don't trigger cooldown if scaling was ignored
  scalingengine/scalingengine.go
  scalingengine/scalingengine_test.go
Due: golangci-lint

Don't trigger cooldown if scaling was ignored
  src/autoscaler/scalingengine/scalingengine.go
  src/autoscaler/scalingengine/scalingengine_test.go
Due: golangci-lint

added the unconvert linter
  src/autoscaler/.golangci.yaml
  src/autoscaler/api/brokerserver/broker_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/cf/app.go
  src/autoscaler/db/sqldb/lock_sqldb.go
  src/autoscaler/db/sqldb/sqldb_suite_test.go
  src/autoscaler/eventgenerator/config/config_test.go
  src/autoscaler/eventgenerator/generator/appEvaluationManager_test.go
  src/autoscaler/metricsserver/collector/collector_test.go
  src/autoscaler/metricsserver/config/config_test.go
Due: golangci-lint

added the unconvert linter
  .golangci.yaml
  api/brokerserver/broker_handler.go
  api/publicapiserver/public_api_handler.go
  cf/app.go
  db/sqldb/lock_sqldb.go
  db/sqldb/sqldb_suite_test.go
  eventgenerator/config/config_test.go
  eventgenerator/generator/appEvaluationManager_test.go
  metricsserver/collector/collector_test.go
  metricsserver/config/config_test.go
Due: golangci-lint

aas82 add checkstyle configs
  style-guide/checkstyle-suppressions.xml
  style-guide/google_checks.xml
  style-guide/inspect-java-format-0.1.sh
Due: none

aas82 add java formatter git-hook
  style-guide/checkstyle_suppressions.xml
  style-guide/google_checks.xml
  style-guide/inspect-java-format-0.1.sh
Due: none

aas82 fix [FileTabCharacter]
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/health/DBStatusCollector.java
  scheduler/src/main/resources/log4j2.xml
Due: java-formatter

aas82 fix [AbbreviationAsWordInName]
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/HealthConfig.java
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/PolicyJsonDaoImpl.java
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/health/DbStatusCollector.java
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/health/HealthExporter.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplicationTest.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/quartz/AppScalingScheduleJobTest.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleSyncRestControllerTest.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleJobManagerTest.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleManagerTest.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/ApplicationPolicyBuilder.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/EmbeddedTomcatUtil.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/RecurringScheduleEntitiesBuilder.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/ScheduleBuilder.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/TestDataSetupHelper.java
Due: java-formatter

aas82 fix [NeedBraces]
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/entity/ActiveScheduleEntity.java
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/entity/RecurringScheduleEntity.java
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/entity/ScheduleEntity.java
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/entity/SpecificDateScheduleEntity.java
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/model/SynchronizeResult.java
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/util/DataValidationHelper.java
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/util/RecurringScheduleTime.java
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/util/SpecificDateScheduleDateTime.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/RecurringScheduleEntitiesBuilder.java
Due: java-formatter

added the unconvert linter
  api/publicapiserver/public_api_handler.go
Due: golangci-lint

added the unconvert linter
  src/autoscaler/api/publicapiserver/public_api_handler.go
Due: golangci-lint

added the errorlint option to the linter.
  .golangci.yaml
  api/brokerserver/broker_handler.go
  api/publicapiserver/middleware.go
  api/publicapiserver/public_api_handler.go
  cf/app_test.go
  cf/client_test.go
  db/sqldb/lock_sqldb.go
  eventgenerator/cmd/eventgenerator/main.go
  helpers/json_redacter_with_url_creds.go
  helpers/time_logger_format.go
  metricsforwarder/server/custom_metrics_handlers.go
  metricsgateway/cmd/metricsgateway/main.go
  operator/applicationsyncer.go
  scalingengine/scalingengine.go
  testhelpers/fakeLoggregator.go
Due: golangci-lint

added the errorlint option to the linter.
  src/autoscaler/.golangci.yaml
  src/autoscaler/api/brokerserver/broker_handler.go
  src/autoscaler/api/publicapiserver/middleware.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/cf/app_test.go
  src/autoscaler/cf/client_test.go
  src/autoscaler/db/sqldb/lock_sqldb.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/helpers/json_redacter_with_url_creds.go
  src/autoscaler/helpers/time_logger_format.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers.go
  src/autoscaler/metricsgateway/cmd/metricsgateway/main.go
  src/autoscaler/operator/applicationsyncer.go
  src/autoscaler/scalingengine/scalingengine.go
  src/autoscaler/testhelpers/fakeLoggregator.go
  style-guide/README.md
Due: golangci-lint

aas82 fix [array brackets at illegal position]
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/TestDataSetupHelper.java
Due: java-formatter

aas82 fix [TypeName]- class names
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImplFailureTest.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerCreateScheduleAndNofifyScalingEngineTest.java
Due: java-formatter

aas82 fix [TypeName]- class names
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerCreateScheduleAndNofifyScalingEngineTest.java
Due: java-formatter

aas82 fix Single-line Javadoc comment should be multi-line. [SingleLineJavadoc] [RequireEmptyLineBeforeBlockTagGroup]
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/GenericDao.java
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/GenericDaoImpl.java
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/util/error/ValidationErrorResult.java
Due: java-formatter

aas82 fix Single-line Javadoc comment should be multi-line. [SingleLineJavadoc] [RequireEmptyLineBeforeBlockTagGroup]
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/util/error/ValidationErrorResult.java
Due: java-formatter

aas82 git-hook -> skip javadoc formatting
  style-guide/checkstyle_suppressions.xml
  style-guide/inspect-java-format-0.1.sh
Due: none

aas82 fix Javadoc
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/util/error/InternalCodingError.java
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/util/error/ValidationErrorResult.java
Due: java-formatter

fix [MultipleVariableDeclarations] Each variable declaration must be in its own statement
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDaoImplTest.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDaoImplTest.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerTest.java
Due: java-formatter

fix [LineLength] and formatting
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplicationTest.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/quartz/AppScalingScheduleJobTest.java
Due: java-formatter

fix LocalVariableName] local variable name
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/entity/BitsetUserType.java
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/quartz/AppScalingScheduleJobTest.java
Due: java-formatter

fix [ParameterName] Parameter must match pattern
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerTest.java
Due: java-formatter

Suppress VariableDeclarartionUsageDistance
  style-guide/checkstyle_suppressions.xml
Due: none

aas-82 fix [localVariableName]
  scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/quartz/AppScalingScheduleJobTest.java
Due: java-formatter

aas-82 fix [RCurlySame]
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/util/DataValidationHelper.java
Due: java-formatter

aas-82 suppress [EmptyLineSeparater]
  style-guide/checkstyle_suppressions.xml
Due: none

fix: upgrade org.postgresql:postgresql from 42.2.23 to 42.2.23.jre7
  scheduler/pom.xml
Due: none

fix: upgrade mysql:mysql-connector-java from 8.0.25 to 8.0.26
  scheduler/pom.xml
Due: none

aas-82 add checkstyle support using maven plugin
  scheduler/pom.xml
  style-guide/checkstyle.properties
  style-guide/google_checks.xml
  style-guide/inspect-java-format-0.1.sh
Due: none

aas-82 add checkstyle as GHA
  .github/workflows/checkstyle-java-lint.yaml
Due: none

aas-82 publish checkstyle result on PR
  .github/workflows/checkstyle-java-lint.yaml
  format_checkstyle.go
  scheduler/pom.xml
Due: golangci-lint

aas-82 corrected yaml
  .github/workflows/checkstyle-java-lint.yaml
Due: none

add google formatter action
  .github/workflows/checkstyle-java-lint.yaml
Due: none

aas-82 test google formattter action
  .pre-commit-config.yaml
  scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplication.java
Due: java-formatter

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: \.go$
